@model IEnumerable<Student>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Course</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/modules\botstrap\css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>

    <div class="container m-4">
        <div class="card mx-auto" style="width:1000px">
            <div class="card-header">
                Kursa Katılanlar
            </div>
            <table class="table table-border table-striped">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Surname</td>
                        <td>Phone</td>
                        <td>Mail</td>
                        <td>Confirm</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var student in Model)
                    {
                        <tr>
                            <td>@student.Name</td>
                            <td>@student.Surname</td>
                            <td>@student.Phone</td>
                            <td>@student.Mail</td>
                            <td>@student.Confirm</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>





</body>

</html>
